@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <table class="table table-bordered" style="margin-top:20px;">
        <tr>
            <th>ID</th>
            <th>Kategori AD</th>
            <th>İşlemler</th>
        </tr>
        @foreach (var k in Model)
        {

            <tr>
              
                <td>
                    @k.id
                </td>  
                <td>
                    @k.kategoriad
                </td>
                <td><a href="/Kategori/KategoriSil/@k.id" class="btn btn-danger">Sil</a>   <a href="Kategori/KategoriGetir/@k.id" class="btn btn-info">Güncelle</a></td>
            </tr>
        }


    </table>
</div>
<div>
    <a href="/Kategori/KategoriEkle" class="btn btn-success">Kategori Ekle</a>
</div>