@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman

@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h2>Departman Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Departman Adınız")
        @Html.TextBoxFor(x => x.departmanad, new { @class = "form-control" })
        @Html.HiddenFor(x => x.departmanid)
    </div>
    <br />
    <button class="btn btn-warning">Güncelle</button>
}
